<div class="container text-center">
<div class="page content">
  <h1>Pour nous contacter, c'est ici!</h1><br>
    <p style="font-size:30px">
      <a href="mailto:gossip@gossipproject.org">gossip@gossipproject.org</a>
    </p><br>
  <img src="https://i.pinimg.com/originals/89/2a/a0/892aa0a46560a5ac9e2fc508f32fd56d.gif" class="img-fluid" alt="Responsive image"><br>
<div class="page">
</div>

<div class="fixed-bottom" style="text-align: center; background-color: #FFFFF;">
  <p>© The Gossip Project</p>
</div> 
