<h1> Bienvenu dans l'application </h1>
 <% @gossips.each_with_index do |gossip, i| %>
<h5>
<b> Author:</b> <%=gossip.user.first_name%> <br>
</h5>
<p>
<b>Title:</b> <%=gossip.title%> <%= link_to "Voir le gossip", gossip_path(gossip.id) %>
</p>

 <%end%>
