<h1> Bienvenu dans l'application </h1>

<div class="container text-center">
  <div class="page"></div>
<div class="row col">
 <% @gossips.each_with_index do |gossip, i| %>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Author:</b> <%=gossip.user.first_name%></div>
  <div class="card-body">
    <h4 class="card-title">Title:</b> <%=gossip.title%></h4>
    <p class="card-text"><%= link_to "Voir le gossip", gossip_path(gossip.id) %></p>
  </div>
 </div>
 <%end%>
 
</div> 
</div>

